{% extends 'base.html' %}
{% block content %}
<div>


<h4>Announcements</h4>
{% if anns.count == 0 %}
<p>No Posts Yet</p>
{% else %}
<ul>
    {% for ann in anns %}
        <a href="/announcement/{{ ann.id }}">
            <div><span>{{ ann.title }}</span></div>
            <div>
                <span>{{ ann.description|slice:'200' }}{% if ann.description|length > 200 %}...{% endif %}</span>
            </div>
        </a>
    {% endfor %}
</ul>
{% endif %}
<button onclick="showMore();">Show More</button>
</div>
{% endblock %}
