{% extends 'base.html' %}
{% block content %}
<div>


<h4>Announcements</h4>
{% if anns.count == 0 %}
<p>No Posts Yet</p>
{% else %}
<ul>
    {% for ann in anns %}
        <a href="/announcement/{{ ann.id }}" class="collection-item">
            <div><span>Title: {{ ann.title }}</span></div>
            <div><span>Category: {{ ann.category }}</span></div>
            <div>
                <span>Description: {{ ann.custom_text|slice:'200' }}{% if ann.custom_text|length > 200 %}...{% endif %}</span>
            </div>
        </a>
        <p>----------------</p>
    {% endfor %}
</ul>
{% endif %}
<button class="show-more-btn" onclick="showMore();">Show More</button>
</div>
{% endblock %}
