{% extends 'base.html' %}
{% block content %}
<div>
    <div>
            <div>
                <h4>{{ ann.title }}</h4>
            </div>
            <div>
                <h6>Description:</h6>
                <p>{{ ann.custom_text }}</p>
            </div>
            <div>
                <h6>Name:</h6>
                <p>{{ ann.name }}</p>
            </div>
            <div>
                <h6>Expiration:</h6>
                <p>{{ ann.expiration_date }}</p>
            </div>
        <div></div>
    </div>
    <div>
        <div>
            <div>
            <div>

                <span>{{ ann.email }}</span>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
