.input-btn-inline {
    top: 0.5rem;
}

.logo-offset {
    padding-left: 0.5rem !important;
}

.title-top-padding {
    padding-top: 1.2rem !important;
}

.collection-description {
    font-size: 0.9rem;
}

.collection-title {
    font-size: 1.2rem;
}
